.post-unit{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.post-unit:last-child{
    border-bottom: none;
}
.main-content{
    margin-top: 30px;
}
.ticket-price ul{
    list-style: none;
    padding-left: 5px;
}
.ticket-type-img img{
    border: none;
}
footer{
    margin-top: 20px;
    padding-top: 20px;
    background: #ccc;
}
.login-logo{
    margin-top: 30px;
}
.login-logo img{
    border: none;
}
.dashboard-logo img{
    border: none;
}
.dashboard-nav{
    padding-top: 10px;
}
.dashboard-card{
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.dashboard-card a{
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}
.bg-red{
    background: #DD4B38;
}
.bg-blue{
    background: #00C0EE;
}
.bg-green{
    background: #03A55A;
}
.bg-yellow{
    background: #F39C11;
}
.form-group label.error{
    color: #DD4B38;
}